div{
border:solid 0px #000;
padding: 5px;
  margin: 5px 0px 0px 0px;
}
#b1{background-color:#999}
#b2{background-color:#900}
#b3{background-color:#090}
#b4{background-color:#009}
#b5{background-color:#990}
#b6{background-color:#099}
